<h1>pagina principal</h1>

<img
  src="/images/products/chuck70.jpg"
  alt="chuck70"
  style="width: 20%; height: auto"
/>
<img
  src="/images/products/tokyo.jpg"
  alt="chuck70"
  style="width: 20%; height: auto"
/>
<img
  src="/images/products/guts.jpg"
  alt="chuck70"
  style="width: 20%; height: auto"
/>
<img
  src="/images/products/4.jpg"
  alt="chuck70"
  style="width: 20%; height: auto"
/>
